@using adamH4D.Models
@{
}

@model List<UserInfo>


<html>
<head>
    <title>Uloha 8</title>
    <textarea id="textArea20">Zadaj spravu</textarea>
    <p>Sprava min 20 znakov</p>
    <p id="pocet_znakov">Pocet znakov : 0</p>

</head>
</html>
