@using adamH4D.Models
@{
}

@model List<UserInfo>


<html>
<head>
</head>
    <body>
        <title>Uloha 9</title>
        <table id="table1">
            <tr>
                <th>Knihy</th>
            </tr>
            <tr>
                <th>Meno</th>
                <th>Nazov</th>
            </tr>
        </table>

        <button id="catButton">Buttonik</button>
        <img class="roundImg" id="catImage" src="" alt="Cat Image" style="display:none; width:300px; height:300px;" />

    </body>

</html>
