@using adamH4D.Models
@{
}

@model List<UserInfo>


<html>
<head>
    <title>Uloha 9</title>
    <table id="table1">
        <tr>
            <th>Knihy</th>
        </tr>
        <tr>
            <th>Meno</th>
            <th>Nazov</th>
        </tr>
    </table>


</head>
</html>
