@using adamH4D.Models
@{
}

@model List<UserInfo>


<html>
<head>
    <title>Uloha 7</title>
    <div id="div1" class="divik">
        <p id="clicky">Pocet clickov: 0</p>
        <button id="buttonClick">Klikni ma</button>
    </div>
    
    

</head>
</html>
